.Recipe-card-container{

  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(63, 60, 60);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: linear-gradient(to right, 
      #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, 
      #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
  align-items: center;
  min-width: 40%;
  font-family: 'Lobster', cursive;   
}

.g-0, .gy-0{
  background-image: linear-gradient(to right, 
      #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, 
      #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%)

}
.Navbar{
  display: flex;
  background-image: linear-gradient(to right, 
      #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, 
      #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sideNav {
  height: 100vh;
  width: 12%;
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
  padding-top: 20px;
  top: 10%;
  left: 0;
  position: fixed;
  
}


